{% extends 'base.html' %}

    {% block head %}
        <style>
        div.jumbotron{
            text-align:right;
            color:white;
            align: left;
            background-color:black;
            }

        #shower {
        width: 300px;
        height: 400px;
        }

        div.card-group{
            width:80%;
            height:20%;
            margin:auto;
            display: flex;
        }

        div.card {
            color: DarkBlue;
            font: 10px;
        }

        a:hover {
        text-decoration:none;
        }

	</style>
    {% endblock %}

<body>
    {% block content %}


    <div class="jumbotron">
            <img id="shower" src="{{ movie_recs[0]['img_link'] }}"/>
            <h10> {{ movie_recs[0]['title'] }} </h10>
    </div>


    <div class="card-group">

        {% for movie in movie_recs[1:] %}
        <div class="card" style="width:50px;height:100px;">
            <a href="/show/{{ movie['movieId'] }}">
            <img src= "{{ movie['img_link'] }}" class="card-img-top"/>
            </a>
            <div class="card-body">
                <div class="card-text">
                <a href="/show/{{ movie['movieId'] }}">
                <h10> {{ movie['title'] }} </h10>
                </a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
    {% endblock %}
</body>
